/* Start Button */
.start-container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.start-btn {
  font-family: 'Bigelow Rules', cursive;
  font-size: 2em;
  padding: 15px 40px;
  background-color: #f4b400;
  border: none;
  border-radius: 15px;
  color: #3b2742;
  cursor: pointer;
  animation: glow 1s infinite alternate;
}
