/* Scene 2 Owl */
.owl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 1;
  transition: transform 3s ease, opacity 2s ease;
  z-index: 5;
}

/* Letter Container */
.letter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

/* Letter */
.letter {
  width: 500px;
  z-index: 2;
}

/* Gryffindor Logo */
.gryffindor-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  z-index: 3;
}

/* Birthday Text */
.birthday-text {
  position: absolute;
  top: 30%;
  width: 70%;
  text-align: center;
  color: #f4b400;
  font-family: 'Bigelow Rules', cursive;
  font-size: 1.8em;
  z-index: 4;
  line-height: 1.5;
  opacity: 0; /* Start hidden */
  transition: opacity 1.5s ease;
}

/* Highlight */
.highlight {
  font-size: 2.2em;
  font-weight: bold;
  color: #f4b400;
}
